[Dataset](https://www.kaggle.com/arashnic/building-sites-power-consumption-dataset)

In [2]:
#!kaggle datasets download -d arashnic/building-sites-power-consumption-dataset
#!unzip building-sites-power-consumption-dataset.zip -d ./dataset

# Implementation

## Packages

In [3]:
# data elaboration functions
import pandas as pd
import string
import numpy as np

# datetime functions
import datetime as dt

# file management functions
import os
import sys
import opendatasets as od
import pickle
from pathlib import Path

# plot functions
import matplotlib.pyplot as plt
%matplotlib inline

# data science functions
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
import joblib
from sklearn.metrics import mean_absolute_error

# configuration file
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
from Configuration.config import cfg_path

# custom functions
from Code.Plotting.plots import Plots
from Code.Regressors.regressors import Regressors
from Code.Regressors.temperatures import Temperatures
from Code.Scoring.scoring import Scoring
from Code.Scoring.train_test import TrainTest
from Code.Scoring.train import Training
from Code.Scoring.forecast import Forecasting
from Code.Scoring.kpi import Kpi
from Code.Scoring.scoring import Scoring
from Code.Utils.utils import Utils

## Setup

In [4]:
#od.download("https://www.kaggle.com/arashnic/building-sites-power-consumption-dataset/download")
root = Path(os.getcwd()).parent
dataset_path = os.path.join(root, cfg_path.data_dir.input_path)

## Load Data

In [5]:
df_train_data = pd.read_csv(os.path.join(dataset_path, "power-laws-forecasting-energy-consumption-training-data.csv"), sep=";", parse_dates=["Timestamp"])
df_train_data = Utils.columns_camel_to_snake(df_train_data)
print("Train columns: ", list(df_train_data.columns))
print("NaNs:", df_train_data.isna().sum().values.sum())

df_metadata = pd.read_csv(os.path.join(dataset_path, "power-laws-forecasting-energy-consumption-metadata.csv"), sep=";")
df_metadata = Utils.columns_camel_to_snake(df_metadata)
print("Metadata columns: ", list(df_metadata.columns))
print("NaNs:", df_metadata.isna().sum().values.sum())

df_weather = pd.read_csv(os.path.join(dataset_path, "power-laws-forecasting-energy-consumption-weather.csv"), sep=";", parse_dates=["Timestamp"])
df_weather = Utils.columns_camel_to_snake(df_weather)
print("Weather columns: ", list(df_weather.columns))
print("NaNs:", df_weather.isna().sum().values.sum())

Train columns:  ['obs_id', 'site_id', 'timestamp', 'forecast_id', 'value']
NaNs: 86601
Metadata columns:  ['site_id', 'surface', 'sampling', 'base_temperature', 'monday_is_day_off', 'tuesday_is_day_off', 'wednesday_is_day_off', 'thursday_is_day_off', 'friday_is_day_off', 'saturday_is_day_off', 'sunday_is_day_off']
NaNs: 0
Weather columns:  ['timestamp', 'temperature', 'distance', 'site_id']
NaNs: 0

# Data Preparation

## Parameter setup

In [6]:
id = 'site_id'
list_unique_id = ['site_id', 'timestamp']
list_temp = ['temp']
y = 'value'

#### Setting forecast end date

In [7]:
# Make sure to have all regressors available until forecast_end_date (temperatures, etc)
forecast_end_date = '2022-12-31'

## Plotting y series

In [8]:
# Print available ids and choose which one to plot 
print(list(df_train_data[id].unique()))

[42, 43, 40, 41, 63, 66, 67, 68, 64, 65, 69, 70, 72, 73, 115, 119, 116, 117, 118, 59, 60, 62, 61, 112, 109, 110, 111, 8, 9, 25, 26, 46, 47, 48, 49, 106, 107, 100, 101, 102, 105, 50, 51, 52, 53, 108, 14, 10, 11, 12, 13, 22, 23, 57, 54, 58, 93, 94, 96, 98, 99, 92, 44, 45, 88, 87, 89, 90, 84, 85, 86, 78, 83, 228, 222, 223, 224, 225, 226, 227, 215, 229, 230, 273, 276, 271, 274, 275, 272, 74, 77, 76, 75, 218, 219, 221, 233, 234, 269, 270, 235, 236, 237, 216, 217, 204, 209, 261, 262, 263, 264, 265, 266, 267, 268, 232, 212, 213, 205, 206, 207, 208, 210, 211, 260, 259, 255, 256, 257, 231, 252, 254, 250, 251, 253, 238, 239, 240, 241, 243, 244, 245, 246, 247, 248, 249, 123, 124, 125, 126, 121, 122, 120, 127, 128, 129, 200, 201, 199, 141, 140, 135, 136, 139, 202, 203, 151, 149, 152, 146, 148, 150, 190, 191, 19, 167, 162, 173, 171, 172, 169, 170, 163, 164, 165, 143, 145, 142, 197, 194, 195, 196, 192, 193, 160, 161, 153, 154, 155, 156, 157, 158, 159, 198, 175, 174, 183, 184, 185, 186, 189, 181, 182, 130, 131, 134, 132, 176, 180, 177, 178, 280, 281, 277, 287, 288, 278, 279, 294, 295, 292, 293, 289, 290, 286, 285, 284, 298, 299, 300, 283, 297, 302, 301, 303, 304, 305, 282, 6, 7, 15, 16, 2, 1, 3, 5, 20, 21, 17, 18, 27, 33, 29, 32, 38, 39, 34]

In [9]:
list_ids_to_plot = [49, 12, 63, 44]

In [10]:
count = 1
for i in list_ids_to_plot:
    print('Plotting id:', i, 'as', count, 'of', len(list_ids_to_plot))
    plot = Plots.sliding_line_plot(df_train_data, y, id, i, chart_title="")
    plot.write_html(os.path.join(root, cfg_path.data_dir.plot_path, id + '_' + str(i) + ".html"))
    count = count + 1

Plotting id: 49 as 1 of 4
find_date, date_col found: ['timestamp']
sliding_line_plot: plotting Value site_id 49
Plotting id: 12 as 2 of 4
find_date, date_col found: ['timestamp']
sliding_line_plot: plotting Value site_id 12
Plotting id: 63 as 3 of 4
find_date, date_col found: ['timestamp']
sliding_line_plot: plotting Value site_id 63
Plotting id: 44 as 4 of 4
find_date, date_col found: ['timestamp']
sliding_line_plot: plotting Value site_id 44

## Dealing with NAs and aggregating at a chosen frequency

Create a full time sequence on a chosen frequency and aggregate

#### Consumption data (y)

In [11]:
# df_train_data
df_train_data.head()
date_var = Utils.find_date(df_train_data)
print('List ids:', list(df_train_data[id].unique()))
len(list(df_train_data[id].unique()))

find_date, date_col found: ['timestamp']
List ids: [42, 43, 40, 41, 63, 66, 67, 68, 64, 65, 69, 70, 72, 73, 115, 119, 116, 117, 118, 59, 60, 62, 61, 112, 109, 110, 111, 8, 9, 25, 26, 46, 47, 48, 49, 106, 107, 100, 101, 102, 105, 50, 51, 52, 53, 108, 14, 10, 11, 12, 13, 22, 23, 57, 54, 58, 93, 94, 96, 98, 99, 92, 44, 45, 88, 87, 89, 90, 84, 85, 86, 78, 83, 228, 222, 223, 224, 225, 226, 227, 215, 229, 230, 273, 276, 271, 274, 275, 272, 74, 77, 76, 75, 218, 219, 221, 233, 234, 269, 270, 235, 236, 237, 216, 217, 204, 209, 261, 262, 263, 264, 265, 266, 267, 268, 232, 212, 213, 205, 206, 207, 208, 210, 211, 260, 259, 255, 256, 257, 231, 252, 254, 250, 251, 253, 238, 239, 240, 241, 243, 244, 245, 246, 247, 248, 249, 123, 124, 125, 126, 121, 122, 120, 127, 128, 129, 200, 201, 199, 141, 140, 135, 136, 139, 202, 203, 151, 149, 152, 146, 148, 150, 190, 191, 19, 167, 162, 173, 171, 172, 169, 170, 163, 164, 165, 143, 145, 142, 197, 194, 195, 196, 192, 193, 160, 161, 153, 154, 155, 156, 157, 158, 159, 198, 175, 174, 183, 184, 185, 186, 189, 181, 182, 130, 131, 134, 132, 176, 180, 177, 178, 280, 281, 277, 287, 288, 278, 279, 294, 295, 292, 293, 289, 290, 286, 285, 284, 298, 299, 300, 283, 297, 302, 301, 303, 304, 305, 282, 6, 7, 15, 16, 2, 1, 3, 5, 20, 21, 17, 18, 27, 33, 29, 32, 38, 39, 34]

267

In [12]:
# Resampling function aggregates data in a dataframe with a chosen function, that can vary depending on the variable
# i.e. temperatures when aggregated should be averaged, consumption should be summed, dummy variables should be pick as 'first'

df_train_data[date_var].apply(lambda x: x.tz_localize(None))
sampling = dt.timedelta(days=1)
dict_grouping = {'obs_id': 'first', 'forecast_id': 'first', 'value': 'sum'}
df_resampled = Utils.resample_data(df_train_data, id, date_var, sampling, dict_grouping)
print('List ids after resampling:', list(df_resampled[id].unique()))

resample_data: variable obs_id
resample_data: variable obs_id completed
resample_data: variable forecast_id
resample_data: variable forecast_id completed
resample_data: variable value
resample_data: variable value completed
                       timestamp     obs_id  site_id  forecast_id  \
0      2015-11-02 00:00:00+00:00  3187477.0       42       1080.0
1      2015-11-03 00:00:00+00:00  1309542.0       42       1080.0
2      2015-11-04 00:00:00+00:00  6998589.0       42       1080.0
3      2015-11-05 00:00:00+00:00  5708558.0       42       1080.0
4      2015-11-06 00:00:00+00:00  6931527.0       42       1080.0
...                          ...        ...      ...          ...
188662 2015-02-12 00:00:00+00:00   954528.0       34        981.0
188663 2015-02-13 00:00:00+00:00  6319073.0       34        981.0
188664 2015-02-14 00:00:00+00:00   849485.0       34        981.0
188665 2015-02-15 00:00:00+00:00   141866.0       34        981.0
188666 2015-02-16 00:00:00+00:00  7593648.0       34        981.0

               value
0       6.370880e+05
1       1.006306e+06
2       1.008557e+06
3       1.017008e+06
4       1.028142e+06
...              ...
188662  2.165641e+04
188663  2.124533e+04
188664  1.011816e+04
188665  9.968675e+03
188666  1.181853e+04

[188667 rows x 5 columns]
List ids after resampling: [42, 43, 40, 41, 63, 66, 67, 68, 64, 65, 69, 70, 72, 73, 115, 119, 116, 117, 118, 59, 60, 62, 61, 112, 109, 110, 111, 8, 9, 25, 26, 46, 47, 48, 49, 106, 107, 100, 101, 102, 105, 50, 51, 52, 53, 108, 14, 10, 11, 12, 13, 22, 23, 57, 54, 58, 93, 94, 96, 98, 99, 92, 44, 45, 88, 87, 89, 90, 84, 85, 86, 78, 83, 228, 222, 223, 224, 225, 226, 227, 215, 229, 230, 273, 276, 271, 274, 275, 272, 74, 77, 76, 75, 218, 219, 221, 233, 234, 269, 270, 235, 236, 237, 216, 217, 204, 209, 261, 262, 263, 264, 265, 266, 267, 268, 232, 212, 213, 205, 206, 207, 208, 210, 211, 260, 259, 255, 256, 257, 231, 252, 254, 250, 251, 253, 238, 239, 240, 241, 243, 244, 245, 246, 247, 248, 249, 123, 124, 125, 126, 121, 122, 120, 127, 128, 129, 200, 201, 199, 141, 140, 135, 136, 139, 202, 203, 151, 149, 152, 146, 148, 150, 190, 191, 19, 167, 162, 173, 171, 172, 169, 170, 163, 164, 165, 143, 145, 142, 197, 194, 195, 196, 192, 193, 160, 161, 153, 154, 155, 156, 157, 158, 159, 198, 175, 174, 183, 184, 185, 186, 189, 181, 182, 130, 131, 134, 132, 176, 180, 177, 178, 280, 281, 277, 287, 288, 278, 279, 294, 295, 292, 293, 289, 290, 286, 285, 284, 298, 299, 300, 283, 297, 302, 301, 303, 304, 305, 282, 6, 7, 15, 16, 2, 1, 3, 5, 20, 21, 17, 18, 27, 33, 29, 32, 38, 39, 34]

In [13]:
# Adding a full time sequence
df_train_data = Utils.add_seq(df_resampled, date_var, serie = id, freq = sampling, end_date=forecast_end_date, start_date='')

Adding sequence to serie 42 as 1 of 267
Adding sequence to serie 43 as 2 of 267
Adding sequence to serie 40 as 3 of 267
Adding sequence to serie 41 as 4 of 267
Adding sequence to serie 63 as 5 of 267
Adding sequence to serie 66 as 6 of 267
Adding sequence to serie 67 as 7 of 267
Adding sequence to serie 68 as 8 of 267
Adding sequence to serie 64 as 9 of 267
Adding sequence to serie 65 as 10 of 267
Adding sequence to serie 69 as 11 of 267
Adding sequence to serie 70 as 12 of 267
Adding sequence to serie 72 as 13 of 267
Adding sequence to serie 73 as 14 of 267
Adding sequence to serie 115 as 15 of 267
Adding sequence to serie 119 as 16 of 267
Adding sequence to serie 116 as 17 of 267
Adding sequence to serie 117 as 18 of 267
Adding sequence to serie 118 as 19 of 267
Adding sequence to serie 59 as 20 of 267
Adding sequence to serie 60 as 21 of 267
Adding sequence to serie 62 as 22 of 267
Adding sequence to serie 61 as 23 of 267
Adding sequence to serie 112 as 24 of 267
Adding sequence to serie 109 as 25 of 267
Adding sequence to serie 110 as 26 of 267
Adding sequence to serie 111 as 27 of 267
Adding sequence to serie 8 as 28 of 267
Adding sequence to serie 9 as 29 of 267
Adding sequence to serie 25 as 30 of 267
Adding sequence to serie 26 as 31 of 267
Adding sequence to serie 46 as 32 of 267
Adding sequence to serie 47 as 33 of 267
Adding sequence to serie 48 as 34 of 267
Adding sequence to serie 49 as 35 of 267
Adding sequence to serie 106 as 36 of 267
Adding sequence to serie 107 as 37 of 267
Adding sequence to serie 100 as 38 of 267
Adding sequence to serie 101 as 39 of 267
Adding sequence to serie 102 as 40 of 267
Adding sequence to serie 105 as 41 of 267
Adding sequence to serie 50 as 42 of 267
Adding sequence to serie 51 as 43 of 267
Adding sequence to serie 52 as 44 of 267
Adding sequence to serie 53 as 45 of 267
Adding sequence to serie 108 as 46 of 267
Adding sequence to serie 14 as 47 of 267
Adding sequence to serie 10 as 48 of 267
Adding sequence to serie 11 as 49 of 267
Adding sequence to serie 12 as 50 of 267
Adding sequence to serie 13 as 51 of 267
Adding sequence to serie 22 as 52 of 267
Adding sequence to serie 23 as 53 of 267
Adding sequence to serie 57 as 54 of 267
Adding sequence to serie 54 as 55 of 267
Adding sequence to serie 58 as 56 of 267
Adding sequence to serie 93 as 57 of 267
Adding sequence to serie 94 as 58 of 267
Adding sequence to serie 96 as 59 of 267
Adding sequence to serie 98 as 60 of 267
Adding sequence to serie 99 as 61 of 267
Adding sequence to serie 92 as 62 of 267
Adding sequence to serie 44 as 63 of 267
Adding sequence to serie 45 as 64 of 267
Adding sequence to serie 88 as 65 of 267
Adding sequence to serie 87 as 66 of 267
Adding sequence to serie 89 as 67 of 267
Adding sequence to serie 90 as 68 of 267
Adding sequence to serie 84 as 69 of 267
Adding sequence to serie 85 as 70 of 267
Adding sequence to serie 86 as 71 of 267
Adding sequence to serie 78 as 72 of 267
Adding sequence to serie 83 as 73 of 267
Adding sequence to serie 228 as 74 of 267
Adding sequence to serie 222 as 75 of 267
Adding sequence to serie 223 as 76 of 267
Adding sequence to serie 224 as 77 of 267
Adding sequence to serie 225 as 78 of 267
Adding sequence to serie 226 as 79 of 267
Adding sequence to serie 227 as 80 of 267
Adding sequence to serie 215 as 81 of 267
Adding sequence to serie 229 as 82 of 267
Adding sequence to serie 230 as 83 of 267
Adding sequence to serie 273 as 84 of 267
Adding sequence to serie 276 as 85 of 267
Adding sequence to serie 271 as 86 of 267
Adding sequence to serie 274 as 87 of 267
Adding sequence to serie 275 as 88 of 267
Adding sequence to serie 272 as 89 of 267
Adding sequence to serie 74 as 90 of 267
Adding sequence to serie 77 as 91 of 267
Adding sequence to serie 76 as 92 of 267
Adding sequence to serie 75 as 93 of 267
Adding sequence to serie 218 as 94 of 267
Adding sequence to serie 219 as 95 of 267
Adding sequence to serie 221 as 96 of 267
Adding sequence to serie 233 as 97 of 267
Adding sequence to serie 234 as 98 of 267
Adding sequence to serie 269 as 99 of 267
Adding sequence to serie 270 as 100 of 267
Adding sequence to serie 235 as 101 of 267
Adding sequence to serie 236 as 102 of 267
Adding sequence to serie 237 as 103 of 267
Adding sequence to serie 216 as 104 of 267
Adding sequence to serie 217 as 105 of 267
Adding sequence to serie 204 as 106 of 267
Adding sequence to serie 209 as 107 of 267
Adding sequence to serie 261 as 108 of 267
Adding sequence to serie 262 as 109 of 267
Adding sequence to serie 263 as 110 of 267
Adding sequence to serie 264 as 111 of 267
Adding sequence to serie 265 as 112 of 267
Adding sequence to serie 266 as 113 of 267
Adding sequence to serie 267 as 114 of 267
Adding sequence to serie 268 as 115 of 267
Adding sequence to serie 232 as 116 of 267
Adding sequence to serie 212 as 117 of 267
Adding sequence to serie 213 as 118 of 267
Adding sequence to serie 205 as 119 of 267
Adding sequence to serie 206 as 120 of 267
Adding sequence to serie 207 as 121 of 267
Adding sequence to serie 208 as 122 of 267
Adding sequence to serie 210 as 123 of 267
Adding sequence to serie 211 as 124 of 267
Adding sequence to serie 260 as 125 of 267
Adding sequence to serie 259 as 126 of 267
Adding sequence to serie 255 as 127 of 267
Adding sequence to serie 256 as 128 of 267
Adding sequence to serie 257 as 129 of 267
Adding sequence to serie 231 as 130 of 267
Adding sequence to serie 252 as 131 of 267
Adding sequence to serie 254 as 132 of 267
Adding sequence to serie 250 as 133 of 267
Adding sequence to serie 251 as 134 of 267
Adding sequence to serie 253 as 135 of 267
Adding sequence to serie 238 as 136 of 267
Adding sequence to serie 239 as 137 of 267
Adding sequence to serie 240 as 138 of 267
Adding sequence to serie 241 as 139 of 267
Adding sequence to serie 243 as 140 of 267
Adding sequence to serie 244 as 141 of 267
Adding sequence to serie 245 as 142 of 267
Adding sequence to serie 246 as 143 of 267
Adding sequence to serie 247 as 144 of 267
Adding sequence to serie 248 as 145 of 267
Adding sequence to serie 249 as 146 of 267
Adding sequence to serie 123 as 147 of 267
Adding sequence to serie 124 as 148 of 267
Adding sequence to serie 125 as 149 of 267
Adding sequence to serie 126 as 150 of 267
Adding sequence to serie 121 as 151 of 267
Adding sequence to serie 122 as 152 of 267
Adding sequence to serie 120 as 153 of 267
Adding sequence to serie 127 as 154 of 267
Adding sequence to serie 128 as 155 of 267
Adding sequence to serie 129 as 156 of 267
Adding sequence to serie 200 as 157 of 267
Adding sequence to serie 201 as 158 of 267
Adding sequence to serie 199 as 159 of 267
Adding sequence to serie 141 as 160 of 267
Adding sequence to serie 140 as 161 of 267
Adding sequence to serie 135 as 162 of 267
Adding sequence to serie 136 as 163 of 267
Adding sequence to serie 139 as 164 of 267
Adding sequence to serie 202 as 165 of 267
Adding sequence to serie 203 as 166 of 267
Adding sequence to serie 151 as 167 of 267
Adding sequence to serie 149 as 168 of 267
Adding sequence to serie 152 as 169 of 267
Adding sequence to serie 146 as 170 of 267
Adding sequence to serie 148 as 171 of 267
Adding sequence to serie 150 as 172 of 267
Adding sequence to serie 190 as 173 of 267
Adding sequence to serie 191 as 174 of 267
Adding sequence to serie 19 as 175 of 267
Adding sequence to serie 167 as 176 of 267
Adding sequence to serie 162 as 177 of 267
Adding sequence to serie 173 as 178 of 267
Adding sequence to serie 171 as 179 of 267
Adding sequence to serie 172 as 180 of 267
Adding sequence to serie 169 as 181 of 267
Adding sequence to serie 170 as 182 of 267
Adding sequence to serie 163 as 183 of 267
Adding sequence to serie 164 as 184 of 267
Adding sequence to serie 165 as 185 of 267
Adding sequence to serie 143 as 186 of 267
Adding sequence to serie 145 as 187 of 267
Adding sequence to serie 142 as 188 of 267
Adding sequence to serie 197 as 189 of 267
Adding sequence to serie 194 as 190 of 267
Adding sequence to serie 195 as 191 of 267
Adding sequence to serie 196 as 192 of 267
Adding sequence to serie 192 as 193 of 267
Adding sequence to serie 193 as 194 of 267
Adding sequence to serie 160 as 195 of 267
Adding sequence to serie 161 as 196 of 267
Adding sequence to serie 153 as 197 of 267
Adding sequence to serie 154 as 198 of 267
Adding sequence to serie 155 as 199 of 267
Adding sequence to serie 156 as 200 of 267
Adding sequence to serie 157 as 201 of 267
Adding sequence to serie 158 as 202 of 267
Adding sequence to serie 159 as 203 of 267
Adding sequence to serie 198 as 204 of 267
Adding sequence to serie 175 as 205 of 267
Adding sequence to serie 174 as 206 of 267
Adding sequence to serie 183 as 207 of 267
Adding sequence to serie 184 as 208 of 267
Adding sequence to serie 185 as 209 of 267
Adding sequence to serie 186 as 210 of 267
Adding sequence to serie 189 as 211 of 267
Adding sequence to serie 181 as 212 of 267
Adding sequence to serie 182 as 213 of 267
Adding sequence to serie 130 as 214 of 267
Adding sequence to serie 131 as 215 of 267
Adding sequence to serie 134 as 216 of 267
Adding sequence to serie 132 as 217 of 267
Adding sequence to serie 176 as 218 of 267
Adding sequence to serie 180 as 219 of 267
Adding sequence to serie 177 as 220 of 267
Adding sequence to serie 178 as 221 of 267
Adding sequence to serie 280 as 222 of 267
Adding sequence to serie 281 as 223 of 267
Adding sequence to serie 277 as 224 of 267
Adding sequence to serie 287 as 225 of 267
Adding sequence to serie 288 as 226 of 267
Adding sequence to serie 278 as 227 of 267
Adding sequence to serie 279 as 228 of 267
Adding sequence to serie 294 as 229 of 267
Adding sequence to serie 295 as 230 of 267
Adding sequence to serie 292 as 231 of 267
Adding sequence to serie 293 as 232 of 267
Adding sequence to serie 289 as 233 of 267
Adding sequence to serie 290 as 234 of 267
Adding sequence to serie 286 as 235 of 267
Adding sequence to serie 285 as 236 of 267
Adding sequence to serie 284 as 237 of 267
Adding sequence to serie 298 as 238 of 267
Adding sequence to serie 299 as 239 of 267
Adding sequence to serie 300 as 240 of 267
Adding sequence to serie 283 as 241 of 267
Adding sequence to serie 297 as 242 of 267
Adding sequence to serie 302 as 243 of 267
Adding sequence to serie 301 as 244 of 267
Adding sequence to serie 303 as 245 of 267
Adding sequence to serie 304 as 246 of 267
Adding sequence to serie 305 as 247 of 267
Adding sequence to serie 282 as 248 of 267
Adding sequence to serie 6 as 249 of 267
Adding sequence to serie 7 as 250 of 267
Adding sequence to serie 15 as 251 of 267
Adding sequence to serie 16 as 252 of 267
Adding sequence to serie 2 as 253 of 267
Adding sequence to serie 1 as 254 of 267
Adding sequence to serie 3 as 255 of 267
Adding sequence to serie 5 as 256 of 267
Adding sequence to serie 20 as 257 of 267
Adding sequence to serie 21 as 258 of 267
Adding sequence to serie 17 as 259 of 267
Adding sequence to serie 18 as 260 of 267
Adding sequence to serie 27 as 261 of 267
Adding sequence to serie 33 as 262 of 267
Adding sequence to serie 29 as 263 of 267
Adding sequence to serie 32 as 264 of 267
Adding sequence to serie 38 as 265 of 267
Adding sequence to serie 39 as 266 of 267
Adding sequence to serie 34 as 267 of 267
add_seq: there are NO duplicates in sequence
add_seq: there are NO duplicates when adding sequence
Total serie to forecast: 698739

In [14]:
# This function count the number of obs you should have if you had a full time sequence
Utils.check_length_time_serie(df_train_data, date_var, index = id).head()

Expected length of sequence is OK
      site_id   count  expected_obs
0          1  2617.0        2617.0
1          2  2617.0        2617.0
2          3  2617.0        2617.0
3          5  2617.0        2617.0
4          6  2617.0        2617.0
..       ...     ...           ...
262      301  2617.0        2617.0
263      302  2617.0        2617.0
264      303  2617.0        2617.0
265      304  2617.0        2617.0
266      305  2617.0        2617.0

[267 rows x 3 columns]

,site_id,count,min,max,td,freq,expected_obs,mismatch
0,1,2617.0,2015-11-02,2022-12-31,2616 days,D,2617.0,0
1,2,2617.0,2015-11-02,2022-12-31,2616 days,D,2617.0,0
2,3,2617.0,2015-11-02,2022-12-31,2616 days,D,2617.0,0
3,5,2617.0,2015-11-02,2022-12-31,2616 days,D,2617.0,0
4,6,2617.0,2015-11-02,2022-12-31,2616 days,D,2617.0,0

In [15]:
df_train_data.head()

   site_id  timestamp     obs_id  forecast_id         value
0       42 2015-11-02  3187477.0       1080.0  6.370880e+05
1       42 2015-11-03  1309542.0       1080.0  1.006306e+06
2       42 2015-11-04  6998589.0       1080.0  1.008557e+06
3       42 2015-11-05  5708558.0       1080.0  1.017008e+06
4       42 2015-11-06  6931527.0       1080.0  1.028142e+06

In [16]:
print('List ids after resampling and adding full time sequence:', list(df_train_data[id].unique()))

List ids after resampling and adding full time sequence: [42, 43, 40, 41, 63, 66, 67, 68, 64, 65, 69, 70, 72, 73, 115, 119, 116, 117, 118, 59, 60, 62, 61, 112, 109, 110, 111, 8, 9, 25, 26, 46, 47, 48, 49, 106, 107, 100, 101, 102, 105, 50, 51, 52, 53, 108, 14, 10, 11, 12, 13, 22, 23, 57, 54, 58, 93, 94, 96, 98, 99, 92, 44, 45, 88, 87, 89, 90, 84, 85, 86, 78, 83, 228, 222, 223, 224, 225, 226, 227, 215, 229, 230, 273, 276, 271, 274, 275, 272, 74, 77, 76, 75, 218, 219, 221, 233, 234, 269, 270, 235, 236, 237, 216, 217, 204, 209, 261, 262, 263, 264, 265, 266, 267, 268, 232, 212, 213, 205, 206, 207, 208, 210, 211, 260, 259, 255, 256, 257, 231, 252, 254, 250, 251, 253, 238, 239, 240, 241, 243, 244, 245, 246, 247, 248, 249, 123, 124, 125, 126, 121, 122, 120, 127, 128, 129, 200, 201, 199, 141, 140, 135, 136, 139, 202, 203, 151, 149, 152, 146, 148, 150, 190, 191, 19, 167, 162, 173, 171, 172, 169, 170, 163, 164, 165, 143, 145, 142, 197, 194, 195, 196, 192, 193, 160, 161, 153, 154, 155, 156, 157, 158, 159, 198, 175, 174, 183, 184, 185, 186, 189, 181, 182, 130, 131, 134, 132, 176, 180, 177, 178, 280, 281, 277, 287, 288, 278, 279, 294, 295, 292, 293, 289, 290, 286, 285, 284, 298, 299, 300, 283, 297, 302, 301, 303, 304, 305, 282, 6, 7, 15, 16, 2, 1, 3, 5, 20, 21, 17, 18, 27, 33, 29, 32, 38, 39, 34]

#### Weather data

In [17]:
# df_weather
date_var = Utils.find_date(df_weather)

find_date, date_col found: ['timestamp']

In [18]:
# Resampling function aggregates data in a dataframe with a chosen function, that can vary depending on the variable
# i.e. temperatures when aggregated should be averaged, consumption should be summed, dummy variables should be pick as 'first'

df_weather[date_var] = df_weather[date_var].apply(lambda x: x.tz_localize(None))
sampling = dt.timedelta(days=1)
dict_grouping = {'temperature': 'mean', 'distance': 'mean'}
df_resampled = Utils.resample_data(df_weather, id, date_var, sampling, dict_grouping)

resample_data: variable temperature
resample_data: variable temperature completed
resample_data: variable distance
resample_data: variable distance completed
       timestamp  temperature  site_id   distance
0     2015-01-01    -0.038168       51  28.196452
1     2015-01-02     1.806015       51  28.194644
2     2015-01-03     3.314179       51  28.102067
3     2015-01-04     4.661654       51  28.089319
4     2015-01-05     5.380741       51  28.615182
...          ...          ...      ...        ...
61557 2017-12-09          NaN       13        NaN
61558 2017-12-10     4.650000       13  25.252279
61559 2017-12-11     9.250000       13  24.200407
61560 2017-12-12     7.650000       13  25.252279
61561 2017-12-13     5.000000       13  24.200407

[61562 rows x 4 columns]

In [19]:
# Adding a full time sequence
df_weather = Utils.add_seq(df_resampled, date_var, serie = id, freq = sampling, end_date=forecast_end_date, start_date='')

Adding sequence to serie 51 as 1 of 49
Adding sequence to serie 50 as 2 of 49
Adding sequence to serie 56 as 3 of 49
Adding sequence to serie 57 as 4 of 49
Adding sequence to serie 20 as 5 of 49
Adding sequence to serie 21 as 6 of 49
Adding sequence to serie 19 as 7 of 49
Adding sequence to serie 22 as 8 of 49
Adding sequence to serie 25 as 9 of 49
Adding sequence to serie 26 as 10 of 49
Adding sequence to serie 29 as 11 of 49
Adding sequence to serie 28 as 12 of 49
Adding sequence to serie 27 as 13 of 49
Adding sequence to serie 30 as 14 of 49
Adding sequence to serie 55 as 15 of 49
Adding sequence to serie 52 as 16 of 49
Adding sequence to serie 24 as 17 of 49
Adding sequence to serie 23 as 18 of 49
Adding sequence to serie 36 as 19 of 49
Adding sequence to serie 35 as 20 of 49
Adding sequence to serie 48 as 21 of 49
Adding sequence to serie 47 as 22 of 49
Adding sequence to serie 38 as 23 of 49
Adding sequence to serie 37 as 24 of 49
Adding sequence to serie 49 as 25 of 49
Adding sequence to serie 33 as 26 of 49
Adding sequence to serie 34 as 27 of 49
Adding sequence to serie 46 as 28 of 49
Adding sequence to serie 32 as 29 of 49
Adding sequence to serie 42 as 30 of 49
Adding sequence to serie 44 as 31 of 49
Adding sequence to serie 39 as 32 of 49
Adding sequence to serie 45 as 33 of 49
Adding sequence to serie 40 as 34 of 49
Adding sequence to serie 41 as 35 of 49
Adding sequence to serie 5 as 36 of 49
Adding sequence to serie 4 as 37 of 49
Adding sequence to serie 3 as 38 of 49
Adding sequence to serie 2 as 39 of 49
Adding sequence to serie 6 as 40 of 49
Adding sequence to serie 9 as 41 of 49
Adding sequence to serie 8 as 42 of 49
Adding sequence to serie 7 as 43 of 49
Adding sequence to serie 12 as 44 of 49
Adding sequence to serie 16 as 45 of 49
Adding sequence to serie 17 as 46 of 49
Adding sequence to serie 18 as 47 of 49
Adding sequence to serie 10 as 48 of 49
Adding sequence to serie 13 as 49 of 49
add_seq: there are NO duplicates in sequence
add_seq: there are NO duplicates when adding sequence
Total serie to forecast: 143178

In [20]:
# This function count the number of obs you should have if you had a full time sequence
Utils.check_length_time_serie(df_weather, date_var, index = id).head()

Expected length of sequence is OK
     site_id   count  expected_obs
0         2  2922.0        2922.0
1         3  2922.0        2922.0
2         4  2922.0        2922.0
3         5  2922.0        2922.0
4         6  2922.0        2922.0
5         7  2922.0        2922.0
6         8  2922.0        2922.0
7         9  2922.0        2922.0
8        10  2922.0        2922.0
9        12  2922.0        2922.0
10       13  2922.0        2922.0
11       16  2922.0        2922.0
12       17  2922.0        2922.0
13       18  2922.0        2922.0
14       19  2922.0        2922.0
15       20  2922.0        2922.0
16       21  2922.0        2922.0
17       22  2922.0        2922.0
18       23  2922.0        2922.0
19       24  2922.0        2922.0
20       25  2922.0        2922.0
21       26  2922.0        2922.0
22       27  2922.0        2922.0
23       28  2922.0        2922.0
24       29  2922.0        2922.0
25       30  2922.0        2922.0
26       32  2922.0        2922.0
27       33  2922.0        2922.0
28       34  2922.0        2922.0
29       35  2922.0        2922.0
30       36  2922.0        2922.0
31       37  2922.0        2922.0
32       38  2922.0        2922.0
33       39  2922.0        2922.0
34       40  2922.0        2922.0
35       41  2922.0        2922.0
36       42  2922.0        2922.0
37       44  2922.0        2922.0
38       45  2922.0        2922.0
39       46  2922.0        2922.0
40       47  2922.0        2922.0
41       48  2922.0        2922.0
42       49  2922.0        2922.0
43       50  2922.0        2922.0
44       51  2922.0        2922.0
45       52  2922.0        2922.0
46       55  2922.0        2922.0
47       56  2922.0        2922.0
48       57  2922.0        2922.0

,site_id,count,min,max,td,freq,expected_obs,mismatch
0,2,2922.0,2015-01-01,2022-12-31,2921 days,D,2922.0,0
1,3,2922.0,2015-01-01,2022-12-31,2921 days,D,2922.0,0
2,4,2922.0,2015-01-01,2022-12-31,2921 days,D,2922.0,0
3,5,2922.0,2015-01-01,2022-12-31,2921 days,D,2922.0,0
4,6,2922.0,2015-01-01,2022-12-31,2921 days,D,2922.0,0

In [21]:
# Adding ten-year averages temperature to fill data until forecast_end_date
freq = Utils.find_freq_in_dataframe(df_weather, date_var)
temperature_list = ['temperature']
df_weather_ten_year = Temperatures.ten_year(df_weather, id, date_var, freq, temperature_list, start_date ='', end_date=forecast_end_date)

Adding sequence to serie 51 as 1 of 49
Adding sequence to serie 50 as 2 of 49
Adding sequence to serie 56 as 3 of 49
Adding sequence to serie 57 as 4 of 49
Adding sequence to serie 20 as 5 of 49
Adding sequence to serie 21 as 6 of 49
Adding sequence to serie 19 as 7 of 49
Adding sequence to serie 22 as 8 of 49
Adding sequence to serie 25 as 9 of 49
Adding sequence to serie 26 as 10 of 49
Adding sequence to serie 29 as 11 of 49
Adding sequence to serie 28 as 12 of 49
Adding sequence to serie 27 as 13 of 49
Adding sequence to serie 30 as 14 of 49
Adding sequence to serie 55 as 15 of 49
Adding sequence to serie 52 as 16 of 49
Adding sequence to serie 24 as 17 of 49
Adding sequence to serie 23 as 18 of 49
Adding sequence to serie 36 as 19 of 49
Adding sequence to serie 35 as 20 of 49
Adding sequence to serie 48 as 21 of 49
Adding sequence to serie 47 as 22 of 49
Adding sequence to serie 38 as 23 of 49
Adding sequence to serie 37 as 24 of 49
Adding sequence to serie 49 as 25 of 49
Adding sequence to serie 33 as 26 of 49
Adding sequence to serie 34 as 27 of 49
Adding sequence to serie 46 as 28 of 49
Adding sequence to serie 32 as 29 of 49
Adding sequence to serie 42 as 30 of 49
Adding sequence to serie 44 as 31 of 49
Adding sequence to serie 39 as 32 of 49
Adding sequence to serie 45 as 33 of 49
Adding sequence to serie 40 as 34 of 49
Adding sequence to serie 41 as 35 of 49
Adding sequence to serie 5 as 36 of 49
Adding sequence to serie 4 as 37 of 49
Adding sequence to serie 3 as 38 of 49
Adding sequence to serie 2 as 39 of 49
Adding sequence to serie 6 as 40 of 49
Adding sequence to serie 9 as 41 of 49
Adding sequence to serie 8 as 42 of 49
Adding sequence to serie 7 as 43 of 49
Adding sequence to serie 12 as 44 of 49
Adding sequence to serie 16 as 45 of 49
Adding sequence to serie 17 as 46 of 49
Adding sequence to serie 18 as 47 of 49
Adding sequence to serie 10 as 48 of 49
Adding sequence to serie 13 as 49 of 49
add_seq: there are NO duplicates in sequence
add_seq: there are NO duplicates when adding sequence
Total serie to forecast: 143178
ten_year: asis temperatures do NOT contain any nan value

#### Additional data

In [22]:
# df_metadata 
# does not contain a time series, therefore it cannot be resampled and do not need a full time sequence to check for NAs
df_metadata.head()

,site_id,surface,sampling,base_temperature,monday_is_day_off,tuesday_is_day_off,wednesday_is_day_off,thursday_is_day_off,friday_is_day_off,saturday_is_day_off,sunday_is_day_off
0,207,7964.873347,30.0,18.0,False,False,False,False,False,True,True
1,7,15168.125971,30.0,18.0,False,False,False,False,False,True,True
2,74,424.340663,15.0,18.0,False,False,False,False,False,True,True
3,239,1164.822636,15.0,18.0,False,False,False,False,False,True,True
4,274,1468.246690,5.0,18.0,False,False,False,False,False,True,True

## Creating working dataset

In [23]:
# Site Ids available in all data dfs
common_site_ids = list(set(set(df_weather_ten_year[id].unique()) & set(df_train_data[id].unique())))

# Final df
df_final = df_train_data[df_train_data[id].isin(common_site_ids)].copy()

# Date
date_var = Utils.find_date(df_final)

find_date, date_col found: ['timestamp']

#### Count NAs in y by id

In [24]:
df_final.head()

   site_id  timestamp     obs_id  forecast_id         value
0       42 2015-11-02  3187477.0       1080.0  6.370880e+05
1       42 2015-11-03  1309542.0       1080.0  1.006306e+06
2       42 2015-11-04  6998589.0       1080.0  1.008557e+06
3       42 2015-11-05  5708558.0       1080.0  1.017008e+06
4       42 2015-11-06  6931527.0       1080.0  1.028142e+06

In [25]:
pivotna = pd.pivot_table(df_final[df_final[y].isna()], index=id, values = y, aggfunc='count').reset_index()
pivotna.rename(columns={y: y + '_count_NA'})
pivotna

    site_id  value
0         2      0
1         3      0
2         5      0
3         6      0
4         7      0
5         8      0
6         9      0
7        10      0
8        12      0
9        13      0
10       16      0
11       17      0
12       18      0
13       19      0
14       20      0
15       21      0
16       22      0
17       23      0
18       25      0
19       26      0
20       27      0
21       29      0
22       32      0
23       33      0
24       34      0
25       38      0
26       39      0
27       40      0
28       41      0
29       42      0
30       44      0
31       45      0
32       46      0
33       47      0
34       48      0
35       49      0
36       50      0
37       51      0
38       52      0
39       57      0

### Adding regressors to final dataframe

#### Holidays

If you don't have specific holiday dataset, you can use the following general function by country that uses the holiday python package and adds to your dataframe a columns with a holiday dummy variable (0/1):

    df_final = Regressors.add_holidays_by_country(df_final, date_var, country = 'France')

In [26]:
df_final = Regressors.add_holidays_by_country(df_final, date_var, country='India')
print('Min date:', df_final[date_var].min())
print('Max date:', df_final[date_var].max())

Min date: 2015-11-02 00:00:00
Max date: 2022-12-31 00:00:00

#### Site leaves

In [27]:
dict_days_off = {'friday_is_day_off': 5, 'saturday_is_day_off': 6, 'sunday_is_day_off': 7}
df_final = Regressors.merge_additional_days_off(df_final, df_metadata, id, dict_days_off)
print('Min date:', df_final[date_var].min())
print('Max date:', df_final[date_var].max())

find_date, date_col found: ['timestamp']
Min date: 2015-11-02 00:00:00
Max date: 2022-12-31 00:00:00

#### Additional metadata

In [28]:
df_final = pd.merge(df_final, df_metadata[[id, "surface", "base_temperature"]], how="left", on=[id], validate = 'm:1')
print('Min date:', df_final[date_var].min())
print('Max date:', df_final[date_var].max())

Min date: 2015-11-02 00:00:00
Max date: 2022-12-31 00:00:00

#### Other calendar variables

In [29]:
df_final = Regressors.add_weekdays(df_final, date_var)
df_final = Regressors.add_months(df_final, date_var)
print('Min date:', df_final[date_var].min())
print('Max date:', df_final[date_var].max())

Min date: 2015-11-02 00:00:00
Max date: 2022-12-31 00:00:00

#### Weather

In [30]:
df_final = Regressors.merge_weather(df_final, df_weather_ten_year, date_var, id)
print('Min date:', df_final[date_var].min())
print('Max date:', df_final[date_var].max())

find_date, date_col found: ['timestamp']
find_date, date_col found: ['timestamp']
Min date: 2015-11-02 00:00:00
Max date: 2022-12-31 00:00:00

In [31]:
df_final = Regressors.calculate_degree_days(df_final, base_temperature = "base_temperature", temperature = "temperature")
print('Min date:', df_final[date_var].min())
print('Max date:', df_final[date_var].max())

Min date: 2015-11-02 00:00:00
Max date: 2022-12-31 00:00:00

#### Remove duplicates

In [32]:
df_final = df_final.drop_duplicates()
print('List ids in df_final after removing duplicates:', list(df_final[id].unique()))
assert df_final[df_final.duplicated()].count().sum() == 0, "y should not contain duplicates"
print('Min date:', df_final[date_var].min())
print('Max date:', df_final[date_var].max())

List ids in df_final after removing duplicates: [2, 3, 5, 6, 7, 8, 9, 10, 12, 13, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 29, 32, 33, 34, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 57]
Min date: 2015-11-02 00:00:00
Max date: 2022-12-31 00:00:00

#### Check regressor availability

In [33]:
df_final.columns

Index(['site_id', 'timestamp', 'obs_id', 'forecast_id', 'value', 'holidays',
       'day_off', 'surface', 'base_temperature', 'wd_mon', 'wd_tue', 'wd_wed',
       'wd_thu', 'wd_fri', 'wd_sat', 'wd_sun', 'month_01', 'month_02',
       'month_03', 'month_04', 'month_05', 'month_06', 'month_07', 'month_08',
       'month_09', 'month_10', 'month_11', 'month_12', 'temperature',
       'distance', 'months_days', 'temperature_ten_year', 'temperature_asis',
       'DDC_temperature', 'DDH_temperature'],
      dtype='object')

In [39]:
# Temperatures have been filled, only temperature asis that is the composition between the actual temperature and ten year averages
regressors_list = [ 'holidays',
       'day_off', 'surface', 'base_temperature', 'wd_mon', 'wd_tue', 'wd_wed',
       'wd_thu', 'wd_fri', 'wd_sat', 'wd_sun', 'month_01', 'month_02',
       'month_03', 'month_04', 'month_05', 'month_06', 'month_07', 'month_08',
       'month_09', 'month_10', 'month_11', 'month_12', 'temperature',
       'distance', 'months_days', 'temperature_ten_year', 'temperature_asis',
       'DDC_temperature', 'DDH_temperature']

try:
       Utils.check_regressors_availability(df_final, date_var, regressors_list, forecast_end_date)
except:
       Utils.remove_regressors_with_nan(df_final, date_var, regressors_list, forecast_end_date)

Regressor holidays has all needed values
Regressor day_off has all needed values
Regressor surface has all needed values
Regressor base_temperature has all needed values
Regressor wd_mon has all needed values
Regressor wd_tue has all needed values
Regressor wd_wed has all needed values
Regressor wd_thu has all needed values
Regressor wd_fri has all needed values
Regressor wd_sat has all needed values
Regressor wd_sun has all needed values
Regressor month_01 has all needed values
Regressor month_02 has all needed values
Regressor month_03 has all needed values
Regressor month_04 has all needed values
Regressor month_05 has all needed values
Regressor month_06 has all needed values
Regressor month_07 has all needed values
Regressor month_08 has all needed values
Regressor month_09 has all needed values
Regressor month_10 has all needed values
Regressor month_11 has all needed values
Regressor month_12 has all needed values
Latest filled available date for regressor temperature is 2017-12-31 00:00:00
 expected is 2022-12-31 00:00:00
Regressor holidays has all needed values
Regressor day_off has all needed values
Regressor surface has all needed values
Regressor base_temperature has all needed values
Regressor wd_mon has all needed values
Regressor wd_tue has all needed values
Regressor wd_wed has all needed values
Regressor wd_thu has all needed values
Regressor wd_fri has all needed values
Regressor wd_sat has all needed values
Regressor wd_sun has all needed values
Regressor month_01 has all needed values
Regressor month_02 has all needed values
Regressor month_03 has all needed values
Regressor month_04 has all needed values
Regressor month_05 has all needed values
Regressor month_06 has all needed values
Regressor month_07 has all needed values
Regressor month_08 has all needed values
Regressor month_09 has all needed values
Regressor month_10 has all needed values
Regressor month_11 has all needed values
Regressor month_12 has all needed values
Latest filled available date for regressor temperature is 2017-12-31 00:00:00
 expected is 2022-12-31 00:00:00
Regressor temperature shows null values <= forecast_end_date.
 Regressor REMOVED
Latest filled available date for regressor distance is 2017-12-31 00:00:00
 expected is 2022-12-31 00:00:00
Regressor distance shows null values <= forecast_end_date.
 Regressor REMOVED
Regressor months_days has all needed values
Latest filled available date for regressor temperature_ten_year is 2022-12-31 00:00:00
 expected is 2022-12-31 00:00:00
Regressor temperature_ten_year shows null values <= forecast_end_date.
 Regressor REMOVED
Regressor temperature_asis has all needed values
Latest filled available date for regressor DDC_temperature is 2017-12-31 00:00:00
 expected is 2022-12-31 00:00:00
Regressor DDC_temperature shows null values <= forecast_end_date.
 Regressor REMOVED
Latest filled available date for regressor DDH_temperature is 2017-12-31 00:00:00
 expected is 2022-12-31 00:00:00
Regressor DDH_temperature shows null values <= forecast_end_date.
 Regressor REMOVED

# Saving

In [40]:
df_final.to_pickle(os.path.join(root, cfg_path.data_dir.output_path, 'df_final.pkl'))

In [41]:
print('Min date:', df_final[date_var].min())
print('Max date:', df_final[date_var].max())
df_final.head()

Min date: 2015-11-02 00:00:00
Max date: 2022-12-31 00:00:00

,site_id,timestamp,obs_id,forecast_id,value,holidays,day_off,surface,base_temperature,wd_mon,...,month_05,month_06,month_07,month_08,month_09,month_10,month_11,month_12,months_days,temperature_asis
0,2,2015-11-02,7390465.0,26.0,1.492533e+06,0,0,6098.278376,18.0,1,...,0,0,0,0,0,0,1,0,11/02,13.247917
1,3,2015-11-02,NaN,NaN,NaN,0,0,10556.293605,18.0,1,...,0,0,0,0,0,0,1,0,11/02,13.252083
2,5,2015-11-02,NaN,NaN,NaN,0,0,12541.181277,18.0,1,...,0,0,0,0,0,0,1,0,11/02,13.241667
3,6,2015-11-02,1413383.0,129.0,8.541479e+05,0,0,9150.195373,18.0,1,...,0,0,0,0,0,0,1,0,11/02,13.243750
4,7,2015-11-02,NaN,NaN,NaN,0,0,15168.125971,18.0,1,...,0,0,0,0,0,0,1,0,11/02,13.245833